body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../images/subtle_white_feathers.png");
}

.minwid {
    /* keep our table container big enough*/
    min-width: 14rem;
}

.example-button {
    /* keep our buttons narrow enough */
    max-width: 7rem;
    min-width: 7rem;
}

.col {
    /* decrease the default padding */
    padding: 0.5rem;
}

.paper {
    /* decrease the default margin */
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0.5rem;
}

.paper-border {
    /* for other elements to have the same border as paper */
    border: 1px solid #c1c0bd;
}

.split-nav {
    /* nav doesn't have a border by default */
    border: 1px solid #c1c0bd;
}

.paper.small-text {
    /* fit more in each paper element */
    font-size: 0.75rem;
}

input {
    font-size: 0.75rem;
    width: 100%;
    padding: 0.2rem;
}

select {
    font-size: 0.75rem;
    width: 4.5rem;

    /* top, right, bottom, left */
    padding: 0.15rem 0rem 0.15rem 0rem;
}

table input[type="button"] {
    font-size: 0.75rem;
    margin-bottom: 0rem;

    /* top right bottom left */
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}


div table th tr td {
    /* Make the table cells a little smaller */
    padding: 0.1rem;
}

.word-wrap {
    word-wrap: break-word;
}

/*#id_download_1, #id_download_2,*/
.no-wrap {
    /* So that the button doesn't try to wrap over two lines */
    white-space: nowrap;
}

.full-height {
    /* We want our papers to be the same height as each other when on the same row*/
    height: 100%;
}

.vis-navigation {
    /* Position the navigation buttons in the top right of the canvas */
    position: absolute;
    right: 0;
    top: 0;
    display: grid;
    grid-template-columns: 1em 1em 1em;
    grid-template-rows: 1em 1em 1em;
    font-size: 1.5rem;
    margin: 0.2em;
    grid-gap: 1px;
    font-family: Arial, sans-serif;
}
.vis-zoomIn, .vis-zoomOut, .vis-up, .vis-down, .vis-left, .vis-right {
    /* Style for the zoom in and zoom out buttons */
    position: relative;
    height: 1em;
    width: 1em;
    box-sizing: border-box;
    box-shadow:0 0 0 1px black;
}

.vis-up {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.vis-down {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.vis-left {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.vis-right {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.vis-zoomIn {
    margin-top: 0.5em;
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
}

.vis-zoomOut {
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
}



.vis-zoomIn:before, .vis-zoomOut:before, .vis-left:before, .vis-right:before, .vis-up:before, .vis-down:before {
    position: absolute;
    font-size: 1.2rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    left: 0;
    right: 0;
}

.vis-zoomIn:before {
    /* Content for zoom in button */
    content: "+";
}

.vis-zoomOut:before {
    /* Content for zoom out button */
    content: "-";
}

.vis-left:before {
    /* Content for left arrow */
    content: "\02C2";
}

.vis-right:before {
    /* Content for left arrow */
    content: "\02C3";
}

.vis-up:before {
    /* Content for left arrow */
    content: "\02C4";
}

.vis-down:before {
    /* Content for left arrow */
    content: "\02C5";
}
