body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../images/subtle_white_feathers.png");
}

.minwid {
    /* keep our table container big enough*/
    min-width: 14rem;
}

.example-button {
    /* keep our buttons narrow enough */
    max-width: 7em;
    min-width: 7em;
}

.options, .buttons {
    display: flex;
}

.options .drop-down {
    max-width: 5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.options select  {
    font-size: 1em;
    min-width: 5rem;
    margin-top: 0.5rem;
}

.buttons .example-button {
    max-width: 5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.buttons .example-button a {
    min-width: 5rem;
}

.col {
    /* decrease the default padding */
    padding: 0.5rem;
}

.paper {
    /* decrease the default margin */
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0.5rem;
}

.paper-border {
    /* for other elements to have the same border as paper */
    border: 1px solid #c1c0bd;
}

.navbar {
    /* nav doesn't have a border by default */
    border: 1px solid #c1c0bd;
    display: flex;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    align-items: center;
}

.logo-link, .logo-link:hover {
    display: none;
    border: 0;
    border-radius: 0;
    margin-left: 1rem;
}

.github-logo-text {
    display: none;
}

.logo-link.github-logo-image {
    display: flex;
}

.text-link {
    font-size: 1.3rem;
    margin-left: 1rem;
}

.other-logo {
    border-width: 0;
    align-self: center;
}

@media (min-width:768px) {
    .logo-link, .logo-link:hover {
        display: flex;
    }
    .logo-link.github-logo-image {
        display: none;
    }
    .github-logo-text {
        display: inline;
    }
}




.paper.small-text {
    /* fit more in each paper element */
    font-size: 0.75rem;
}

input {
    font-size: 0.75rem;
    width: 100%;
    padding: 0.2rem;
}

.input-col select {
    font-size: 0.75rem;
    width: 4.5rem;

    /* top, right, bottom, left */
    padding: 0.15rem 0rem 0.15rem 0rem;
}

table input[type="button"] {
    font-size: 0.75rem;
    margin-bottom: 0rem;

    /* top right bottom left */
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}


div table th tr td {
    /* Make the table cells a little smaller */
    padding: 0.1rem;
}

.word-wrap {
    word-wrap: break-word;
}

/*#id_download_1, #id_download_2,*/
.no-wrap {
    /* So that the button doesn't try to wrap over two lines */
    white-space: nowrap;
}

.full-height {
    /* We want our papers to be the same height as each other when on the same row*/
    height: 100%;
}

body div.vis-network div.vis-navigation div.vis-button:hover {
    box-shadow: 0 0 3px 3px #D3D3D3;
}

body div.vis-network div.vis-navigation div.vis-button {
    width: 36px;
    height: 36px;
}

body div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
    background-image: url("/images/lens.png");
}

body div.vis-network div.vis-navigation div.vis-button.vis-zoomIn {
    background-image: url("/images/plus-sign.png");
}

body div.vis-network div.vis-navigation div.vis-button.vis-zoomOut {
    background-image: url("/images/minus-sign.png");
}

body div.vis-network div.vis-navigation div.vis-button.vis-left {
    background-image: url("/images/left-arrow.png");
}

body div.vis-network div.vis-navigation div.vis-button.vis-right {
    background-image: url("/images/right-arrow.png");
}

body div.vis-network div.vis-navigation div.vis-button.vis-up {
    background-image: url("/images/up-arrow.png");
}

body div.vis-network div.vis-navigation div.vis-button.vis-down {
    background-image: url("/images/down-arrow.png");
}
